.git
.gitignore
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
*.log
.env
.env.backup
.phpunit.result.cache
docker-compose.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.md
tests
phpunit.xml
.editorconfig
public/storage
